@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #FAFAFA;
    font-family: Epilogue;
}

nav {
    padding: 32px 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
}


nav div:first-child {
    display: flex;
    gap: 40px;
    color: #686868;
    font-weight: 500;
}

nav div:nth-child(2) a {
    color: #686868;
    font-weight: 500;
    text-decoration: none;

}

nav div:nth-child(2) a:last-child {
    margin-left: 40px;
    border: 1.5px solid #686868;
    padding: 12px 22px;
    border-radius: 14px;
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 125px;
    align-items: center;
    padding: 0px 130px 130px 165px;
}

h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.111px;
    margin-bottom: 48px;
}

h5 {
    color: #686868;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
    margin-bottom: 51px;
}

main .image-hero {
    width: 480px;
}


main div:first-child a {
    color: #FAFAFA;
    background-color: #151515;
    border-radius: 15px;
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    width: 163px;
    height: 56px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.25px;
    margin-bottom: 116px;
}




main div>div span {
    margin-right: 40px;
    display: inline-block;
}

main div>div span:last-child {
    margin-right: 0;
}